BugsplatMac.xcworkspace
Podfile.lock
Pods
BugsplatTester/BugsplatTester.xcodeproj/project.xcworkspace
BugsplatTester/BugsplatTester.xcworkspace
BugsplatTester/.DS_Store
BugsplatTester/Cartfile.resolved
BugsplatTester/build
.DS_Store
BugsplatTester/Carthage
Carthage
BugsplatMac.framework.zip
build
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
.idea/
